* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background: url('images/bg.png');
}
.container {
    border: 5px solid green;
    background-color: #fff;
    margin: 0 10%;
}
.header{
    border: 5px solid orangered;
    text-align: right;
}

.header h2 {
    border: 5px solid orange;
}
.date {
    border: 5px solid purple;

}

.cookie, .tool {
    border: 5px solid blue;
    background-color: #E8FBFB;
    padding: 5px;
    margin-top: 10px;

}