* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container *:hover {color: yellow} /*Ex: 7*/

body {background: url('images/bg.png');}

img {float: right;}

p {margin-top: 15px;}

.container {
    border: 10px solid #fff;
    background-color: #fff;
    margin: 0 10%;
}

.header{
    background-color: #A8F0F0;
    text-align: right;
}

.header h2 {font-size: 14pt;}

.date {border-bottom: 2px dashed #29abf7;}
    
.cookie, .tool {
    overflow: hidden;
    border: 4px solid #C2E9E9;
    background-color: #E8FBFB;
    padding: 5px;
    margin-top: 10px;
}
/* 
.friend-list, .cookie, .tool {
    float: left;
    
}
.friend-list {
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    width: 15%;
    background-color: #C2E9E9;
    border: 5px solid #0a57ca ;
}
.cookie {
        margin-left: 170px;
} */